#header-nav{
	background-color: gray;
}

.navbar-brand h1{
	color: black;
	font-weight: bold;
	margin-left: 20px;
}

.navbar-brand {
	height: 90px;
	margin-top: -20px;
}

.navbar-default .navbar-nav>li>a{
	color: black;
	text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 3px solid black;
}

#collapsable-nav{
	padding: 0;
}

.nav>li>a{
	padding: 0;
	margin: 0;
	width: 100%
}

#dropdown{
	border: 3px solid black;
	margin: 0;
	padding: 0;
	background-color: white;
}

.nav>li>a:hover {
    opacity: 0.5;
}

body {
  font-family: monospace;
}

.navbar-collapse.in {
	overflow-y: hidden;
	overflow-x: hidden;
}

hr {
	border: 1pt solid black;
    background-color: black;
	height: 0;
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}

#chicken{
	background-color: gray;
	margin-bottom: 20px;
	color: black;
}

.col-xs-10{
	float: none;
	margin: auto;
	padding: 10px;
}

h3{
	font-weight: bold;
}

.navbar-nav{
	margin: 0;
}

#description{
	padding: 10px;
	font-size: 24px;
	color: black;
}

#ourmenu{
	margin-bottom: 50px;
	font-weight: bold;
}